{
  "plugins": ["prettier-plugin-tailwindcss"],
  "semi": true,
  "singleQuote": true,
  "tabWidth": 4,
  "trailingComma": "es5",
  "tailwindFunctions": ["clsx", "cn", "cva"],
  "tailwindPreserveWhitespace": true
}
